.board {
  width: 80vw;
  height: 80vh;
  /* margin: auto; */
  border: 2px solid red;
  background: url("https://vignette.wikia.nocookie.net/hidden-city-mystery-of-shadows/images/a/ad/CollectorsHs_Clear_Base.png/revision/latest?cb=20190625064749");
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
}
